@model ArvutikomplektUL.Models.Arvutikomplekt

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Arvutikomplekt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kirjeldus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kirjeldus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Korpus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Korpus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kuvar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kuvar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pakitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pakitud)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
